body, html {
	margin:0;
	width:100%;
	height:100%;
	box-sizing:border-box;
}

body {
	background-color:#141314;
	font-family:"Source Code Pro","DejaVu Sans Mono","Liberation Sans Mono",mono;
	/* font-size:20px; */
	color:#82bb43;
}

header {
	font-size:24px;
}

#header-container {
	display:flex;
	justify-content:center;
	height:25%;
	align-items:flex-end;
	flex-direction:row;
}

#searchbar-container {
	display:flex;
	flex-direction:row;
	justify-content:center;
	margin-top:2em;
	margin-bottom:2em;
	border:1px solid #82BB43;
	padding:3px;
}

#searchbar,input {
	width:100%;
}

#content-container {
	/* height:66%; */
	display:flex;
	justify-content:center;
	align-items:center;;
	flex-direction:column;
	/* width:auto; */
}

#sitelist {
	border:1px solid #82bb43;
	flex-direction:row;
}

.flex-container {
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	justify-content:center;
	align-content:center;
	align-items:stretch;
}

/* .flex-container:hover { */
/* 	border:1px solid #ffffff; */
/* } */

.flex-item {
	margin:1em;
	/* transition:0.05s; */
}

/* .flex-item:hover { */
/* 	color:#BB4343; */
/* } */

p {
	margin:0;
}

.column-heading {
	margin-bottom:0.2em;
	padding-bottom:0.1em;
	border-bottom:1px solid #82bb43;
	text-align:center;
}

a {
	text-decoration:none;
	transition:0.05s;
}

a:link, a:visited {
	color:#82bb43;
}

a:hover {
	color:#BB4343;
}

ul {
	margin:0;
	padding:0;
}

ul li {
	list-style-type:none;
}

input {
	/* width:100%; */
	box-sizing:border-box;
	color:#82bb43;
	background-color:inherit;
	border:0;
	/* border-bottom:1px solid #82bb43; */
	font-family:inherit;
	font-weight:inherit;
}
